@use "../../Styles/Colors.scss" as c;

.Services {
  display: flex;
  flex-direction: column;
  max-width: 90em;
  margin: 0 auto;

  &__header {
    padding: 10px;
    &__group {
      width: fit-content;
      h1 {
        background: c.$black;
        color: c.$white;
        text-transform: uppercase;
        padding: 0.5rem 10px;
        padding-right: 4vw;
        font-weight: 400;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: fit-content;
      }

      span {
        font-size: 1.125rem;
        font-weight: 400;
        text-align: right;
        padding: 10px;
      }
    }

    > p {
      max-width: 50ch;
      margin: 3rem auto;
      padding: 1rem 2.25rem;
      line-height: 1.5;
      font-size: clamp(16px, 2vw, 1.25rem);
      font-weight: 600;
      border-radius: 10px;
      position: relative;
      animation: fadeIn 750ms forwards;
      opacity: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 0;
        aspect-ratio: 1;
        animation: growBorder 750ms forwards;
        animation-delay: 250ms;
      }

      &::before {
        top: 0;
        left: 0;
        border-top: 2px solid c.$purple;
        border-left: 2px solid c.$purple;
      }

      &::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid c.$purple;
        border-right: 2px solid c.$purple;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__service {
    width: 100%;

    &:nth-child(odd) {
      background-color: rgba(c.$lightpurple, 0.5);
      box-shadow: 0 0 2px 1px c.$purple;
    }

    &__header {
      font-size: 1.75rem;
      background: c.$black;
      color: c.$white;
      margin-top: 3rem;
      margin-left: auto;
      padding: 1rem 10px;
      padding-left: 4vw;
      width: fit-content;
      font-weight: 400;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &__content {
      max-width: 75ch;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;

      &__main {
        p {
          padding: 0 10px;
          line-height: 1.3;

          &:nth-last-child(1) {
            padding-bottom: 2rem;
          }
        }

        img {
          float: left;
          width: 300px;
          aspect-ratio: 1;
          border-radius: 5px;
          margin: 10px;
          margin-top: 0;
        }
      }

      &__list {
        padding-inline: 10px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        > span {
          text-align: center;
          font-weight: 500;
          font-size: 1.125rem;
          padding: 1rem 0;

          &:nth-child(1) {
            background-color: c.$white;
            color: c.$purple;
            border: 2px solid c.$purple;
            width: 100%;
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          width: fit-content;
          margin-inline: auto;
          margin-top: 2rem;
        }

        ul li {
          display: flex;
          align-items: center;
          background-color: c.$purple;
          color: c.$white;
          padding: 0.5rem 1rem;
          border-radius: 200em;
          flex-grow: 1;
        }
      }
    }
  }
}

@keyframes growBorder {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}
