@use "../../styles/Colors.scss" as c;

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--purple);
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
}
