@use "src/styles/Colors.scss" as c;
@use "src/styles/Utilities.scss" as u;

.Navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;

  &__nav {
    max-width: u.var(--page-max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 10px;
    height: u.var(--navbar-height);

    &__logo {
      padding: 10px 0;

      a {
        display: flex;
        gap: 0.25rem;
      }

      img {
        height: 35px;
        width: 35px;
      }

      span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.15rem;
      }
    }

    &__burger {
      padding: 10px 0;
      span {
        font-size: 32px;
        cursor: pointer;
        outline: 3px solid c.var(--black);
        transition: all 180ms ease-in-out;

        &:hover,
        &:focus {
          color: c.var(--white);
          background: c.var(--black);
        }
      }
    }

    &__links {
      display: none;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: clamp(10px, 2vw, 30px);

        li {
          a {
            color: c.var(--black);
            position: relative;
            padding-block: 0.25rem;
            transition: color 250ms linear;

            &:hover {
              color: c.var(--purple);

              &::after {
                width: 100%;
                left: 0;
              }
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 2px;
              background-color: c.var(--purple);
              transition: all 250ms linear;
            }
          }
        }
      }
    }

    &__links-mobile {
      position: fixed;
      inset: 0;
      transform: translateY(-100vh);
      justify-content: center;
      background: c.var(--black);
      overflow: hidden;
      transition: transform 450ms linear;
      z-index: 5;

      &.open {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transform: translateY(0);
      }

      &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        > span {
          font-size: 1.75rem;
        }
      }

      span.material-icons {
        color: white;
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 100%;

        li {
          padding: clamp(5px, 5vh, 40px) 0;
          text-align: center;
          width: 100%;

          &:hover,
          &:focus {
            background: c.var(--white);
            a {
              color: c.var(--black);
            }
          }

          a {
            color: c.var(--white);
            font-size: clamp(24px, 4vw, 32px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .Navbar__nav__links {
    display: flex;
  }

  .Navbar__nav__burger {
    display: none;
  }
}
