@use "src/Styles/Utilities.scss" as u;
@use "src/Styles/Colors.scss" as c;

.Home {
  &__section {
    padding: 5vw 0;
    // max-width: u.$page-max-width;
    max-width: 90em;
    margin: auto;
    width: 100%;

    &__header {
      font-size: 50px;
    }
  }

  // Hero
  &__hero {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 70px);
    position: relative;
    padding: 0 10px;
    // max-width: 90em;
    width: 100%;

    &__left {
      margin: auto;

      h1 {
        display: flex;
        flex-direction: column;
        font-size: 2.75rem;
      }

      p {
        font-size: 1.2rem;
        max-width: 30ch;
        line-height: 1.7rem;
        margin-top: 1rem;
      }

      &__cta {
        display: flex;
        flex-direction: column;
        // gap: 10px;
        z-index: 2;
        position: relative;

        button {
          border: 0;
          box-shadow: 0;
          background: none;
          // background: c.$purple;
          // color: c.$white;
          border: 2px solid c.$purple;
          color: c.$purple;
          padding: 1rem 2rem;
          border-radius: u.$border-radius-subtle;
          font-size: 1.1rem;
          cursor: pointer;
          font-weight: 700;
          margin-top: 1rem;
          transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
          width: max-content;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: c.$purple;
            z-index: -1;
            transform: scale(0, 1);
            transform-origin: top left;
            transition: transform 0.25s ease-in;
          }

          &.active {
            width: 100%;
            background: c.$white;
            color: c.$black;
            border-radius: 0;
            border: 2px solid c.$purple;

            &:hover {
              outline: none;
              color: c.$black;
            }
          }

          &.btn-secondary {
            background: c.$lightpurple;
            color: c.$black;
          }

          &:hover {
            // outline: 2px solid c.$purple;
            // border-bottom: 2px solid c.$purple;
            // border-radius: 0;
            // background: c.$white;
            // color: c.$black;
            color: c.$white;
            // transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
            // width: 100%;

            &::before {
              transform: scale(1, 1);
              // z-index: 0;
            }
          }

          // &:hover + div {
          //   opacity: 1;
          //   top: 100%;
          //   height: auto;
          // }
        }

        &__dropdown {
          display: flex;
          flex-direction: column;
          gap: 1vh;
          opacity: 0;
          background: c.$purple;
          color: white;
          padding: 1rem 0.25rem;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 0;
          z-index: -1;
          // transition: opacity 0.35s linear, top 0.25s linear,
          //   height 0.5s ease-in-out;
          // transition-delay: 0.15s;

          &.active {
            transition-delay: 0;
            // transition: none;
            transition: opacity 0.35s linear, top 0.25s linear,
              height 0.25s linear;
            opacity: 1;
            top: 100%;
            height: auto;

            a {
              pointer-events: auto;
            }
          }

          &__contact {
            display: flex;
            gap: 5vw;
            // margin: auto;
          }

          a {
            color: white;
            text-decoration: underline;
            pointer-events: none;
          }
        }
      }
    }

    &__right {
      flex-grow: 1;
      display: none;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;

      &__characters {
        max-width: 600px;
        max-height: 500px;
      }

      &__background {
        max-width: 650px;
        z-index: -1;
        position: absolute;
        right: 0;
      }
    }

    @media screen and (min-width: 810px) {
      &__right {
        display: flex;
      }
    }
  }

  // Services
  &__services {
    &__header {
      display: flex;
      flex-direction: column;
      width: fit-content;

      button {
        padding: clamp(10px, 1vw, 15px) 10px;
        border: none;
        box-shadow: none;
        background: c.$black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -10px;
        font-size: 18px;
        justify-content: space-between;
        display: none;

        .material-icons {
          font-weight: 700;
          font-size: 30px;
        }
      }
    }

    &__list {
      display: flex;
      justify-content: center;
      padding: 5vw 0;
      width: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // gap: clamp(2rem, 3vw, 7rem);
        gap: 2rem;
        width: 100%;
        // margin: auto;

        li {
          max-width: 450px;
          display: grid;
          row-gap: 1rem;
          grid-template-columns: 1fr 80px;
          grid-template-rows: 80px 1fr;
          grid-template-areas:
            "name icon"
            "description description";
          padding: clamp(10px, 5vw, 2rem);
          border-radius: 10px;
          box-shadow: 2px 2px 5px #666;
          background: white;
          isolation: isolate;

          span.service-name {
            font-size: clamp(1.5rem, 10vw, 2.2rem);
            padding: 1rem 0;
            display: flex;
            grid-area: name;
            align-items: flex-end;
            border-bottom: 3px solid c.$black;
          }

          span.material-icons {
            grid-area: icon;
            border-radius: 50%;
            display: grid;
            place-content: center;
            border: 3px solid c.$black;
            position: relative;
            font-size: 36px;
            color: c.$purple;

            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              left: -3px;
              width: 50%;
              height: 3px;
              background-color: c.$black;
            }
          }

          p {
            background: c.$purple;
            color: white;
            padding: 1rem clamp(10px, 3vw, 20px);
            border-radius: 5px;
            grid-area: description;
            z-index: 2;
          }
        }
      }
    }
  }

  // Process
  &__process {
    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      button {
        background: c.$black;
        color: white;
        border: none;
        box-shadow: none;
        padding: 10px 30px;
        border-radius: u.$border-radius-subtle;
        cursor: pointer;
        height: fit-content;
        display: none;

        &:hover {
          border: 1px solid c.$black;
        }
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      padding: 5vw 0;
      gap: 3rem;
      justify-content: center;
      margin: 5rem 0;

      &__col {
        width: 100%;
        max-width: 500px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        span {
          font-size: 2.75rem;
          border-bottom: 3px solid c.$black;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            display: grid;
            place-content: center;
            font-size: clamp(5rem, 10vw, 7rem);
            border-radius: 50%;
            width: 50%;
            max-width: 180px;
            aspect-ratio: 1/1;
            z-index: -1;
            background: rgba(c.$purple, 0.1);
            color: white;
          }
        }

        &:nth-child(1) > span::before {
          content: "1";
        }

        &:nth-child(2) > span::before {
          content: "2";
        }

        &:nth-child(3) > span::before {
          content: "3";
        }

        p {
          padding: 3.5rem 0;
          max-width: 60ch;
          font-size: clamp(12px, 5vw, 16px);
        }

        img {
          width: 100%;
          aspect-ratio: 1.5/1;
          background: c.$black;
          margin-bottom: 3rem;
          outline: 3px solid #c5ba1c;
          outline-offset: -10px;
        }

        @media screen and (min-width: 1200px) {
          width: calc(33% - 30px);

          &:nth-child(2) {
            span {
              order: 2;
            }

            p {
              order: 3;
            }

            img {
              order: 1;
            }
          }
        }
      }
    }
  }
}
