.about {
  margin-inline: 10px;
  position: relative;

  section {
    margin-bottom: 2rem;
    max-width: 70ch;
    margin-inline: auto;
    overflow: hidden;

    h1,
    h2,
    h3 {
      padding-top: 1rem;
    }

    h2 {
      border-bottom: 2px solid var(--purple);
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      width: max-content;
    }

    p {
      line-height: 1.6;
      margin-top: 1rem;
    }
  }
}

.img {
  position: absolute;
  left: 0;
  z-index: -1;
  width: fit-content;
  opacity: 0.25;
}

.intro {
  text-align: center;
  padding-block: 2rem;
  position: relative;
  animation: fadeIn 750ms forwards;
  opacity: 0;
  padding: 1rem 2.25rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 0;
    aspect-ratio: 1;
    animation: growBorder 750ms forwards;
    animation-delay: 250ms;
  }

  &::before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--purple);
    border-left: 2px solid var(--purple);
  }

  &::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--purple);
    border-right: 2px solid var(--purple);
  }
}

.cta {
  font-weight: bold;
  font-size: 1.125rem;
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem 2rem;
  outline: 8px double var(--white);
  outline-offset: -6px;

  p {
    margin-bottom: 1rem;
  }

  a {
    background-color: var(--white);
    color: var(--purple);
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    border-radius: var(--border-radius-subtle);
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.25rem;
    margin: 1rem auto;
  }
}

@keyframes growBorder {
  0% {
    height: 0%;
  }
  100% {
    height: 50px;
  }
}

.link {
  background-color: var(--purple);
  color: var(--white);
  padding: 0.5rem 0.75rem;
  width: fit-content;
  border-radius: var(--border-radius-subtle);
  margin-top: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
