.footer {
  background: var(--black);
  color: white;
  border-top: 8px double var(--white);
}

.footer__wrapper {
  max-width: 60em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__contact__header {
  border-bottom: 1px solid white;
  padding: 0.25rem 0;
}

.footer__contact__phone,
.footer__contact__email {
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    color: white;
    text-decoration: underline;
  }
}

.footer__nav {
  display: grid;
  place-content: center;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid white;
  max-width: 60em;
  margin-inline: auto;
}
