:root {
  --black: #333;
  --white: #fefefe;
  --darkgray: #666;
  --lightpurple: #edf;
  --purple: #8a3fa2;
  --gold: #d1c300;
  --error: #dd3232;
  --success: #32dd32;
  --link: #0055cd;
  --link-light: #909cf9;
  --page-max-width: 90em;
  --border-radius-subtle: 5px;
  --border-radius-rounded: 500px;
  --navbar-height: 70px;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Rubik, Fira Sans, Ubuntu, Roboto, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: none;
}

ul {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
