$black: #333;
$white: #fefefe;
$darkgray: #666;
$lightpurple: #edf;
$purple: #8a3fa2;
$gold: #d1c300;
$error: #dd3232;
$success: #32dd32;

// Variables
$page-max-width: 90em;
$border-radius-subtle: 5px;
$border-radius-rounded: 500px;
$navbar-height: 70px;

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  // border-bottom: 2px solid $purple;
}

.navbar__nav {
  max-width: $page-max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 10px;
  height: $navbar-height;
}

.navbar__nav__logo {
  padding: 10px 0;

  a {
    display: flex;
    gap: 0.25rem;
  }

  img {
    height: 35px;
    width: 35px;
  }

  span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.15rem;
  }
}

.navbar__nav__burger {
  padding: 10px 0;
  span {
    font-size: 32px;
    cursor: pointer;
    outline: 3px solid $black;
    transition: all 180ms ease-in-out;

    &:hover,
    &:focus {
      color: $white;
      background: $black;
    }
  }
}

.navbar__nav__links {
  display: none;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: clamp(10px, 2vw, 30px);

    li {
      a {
        color: $black;
        position: relative;
        padding-block: 0.25rem;
        transition: color 250ms linear;

        &:hover {
          color: $purple;

          &::after {
            width: 100%;
            left: 0;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: $purple;
          transition: all 250ms linear;
        }
      }
    }
  }
}

.navbar__nav__links_mobile {
  position: fixed;
  inset: 0;
  transform: translateY(-100vh);
  justify-content: center;
  background: $black;
  overflow: hidden;
  transition: transform 450ms linear;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);

  span.material-icons {
    color: white;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    background-color: white;
    min-height: 80vh;
    border-top: 8px double $purple;
    border-bottom: 8px double $purple;

    li {
      padding: clamp(5px, 5vh, 40px) 0;
      text-align: center;
      width: 100%;

      &:hover,
      &:focus {
        background: $white;
        a {
          color: $black;
        }
      }

      a {
        font-size: clamp(24px, 4vw, 32px);
      }
    }
  }
}

.open {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}

.navbar__nav__links_mobile__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: $purple;
  border-radius: 50%;
  padding: 0.5rem;
  color: $white;
  border: 2px solid $white;

  > span {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 700px) {
  .navbar__nav__links {
    display: flex;
  }

  .navbar__nav__burger {
    display: none;
  }
}
