$black: #333;
$white: #fefefe;
$darkgray: #666;
$lightpurple: #edf;
$purple: #8a3fa2;
$gold: #d1c300;
$error: #dd3232;
$success: #32dd32;

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightpurple;
  box-shadow: 0 0 2px 1px $purple;
  padding-inline: 1rem;

  > span {
    font-size: 1.25rem;
    text-align: center;
    margin: 2rem 0;
  }
}

.wrapper {
  display: grid;
  gap: 2rem;
  margin: 1rem 0;
  justify-content: center;

  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 70em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.highlight {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: $white;
  color: $black;
  border-radius: 100vw;
  box-shadow: 0 0 1px 1px $purple;

  img {
    width: 25px;
    aspect-ratio: 1;
    background: $white;
    border-radius: 50%;
  }

  span {
    font-size: 1rem;
  }
}
