.card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius-subtle);
  max-width: 250px;
}

.card_title {
  text-align: center;
  background-color: var(--purple);
  color: var(--white);
  border-radius: inherit;
  padding-block: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.25rem;
}

.img {
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  padding: 1rem;
}
