.section {
  line-height: 1.7;
  margin-top: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  z-index: 2;
  margin-bottom: 3rem;
}

.content {
  display: grid;
  grid-template-areas: "stack";
  min-height: 430px;

  p {
    max-width: min(50ch, 100vw);
    padding: 2rem 1rem;
  }
}

.content__section {
  grid-area: stack;

  &:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    background-color: rgba(white, 0.9);
    border-radius: 1rem;
    z-index: 1;
    height: fit-content;
    max-width: 50ch;
    padding: 1rem 0;
    margin-block: auto;
  }

  &:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    background-color: white;
    height: fit-content;
    max-width: 50ch;
    padding: 1rem 0;
    margin-block: auto;
    margin-left: auto;
  }
}

.cta {
  padding: 0.5rem 1rem;
  box-shadow: none;
  background: var(--black);
  color: var(--white);
  border-radius: 5px;
  width: max-content;
  transition: outline-offset 250ms ease-in-out;
  outline: 2px solid var(--black);
  outline-offset: -2px;
  margin-left: 1rem;

  &:hover,
  &:focus-within {
    outline-offset: 2px;
  }
}
