$min-width: 600px;

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  max-width: var(--page-max-width);
  margin: 0 auto;
  margin-top: var(--navbar-height);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 3rem;
}

.sites {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.logos {
  padding-block: 2rem;
}

.logo__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(100px, 50vw, 250px));
  place-content: center;
  width: 100%;
  max-width: 80em;
  gap: 2rem;
  margin-inline: auto;
  margin-top: 2rem;

  // @media (min-width: 1000px) {
  //   grid-template-columns: repeat(auto-fill, 200px);
  // }
}

.design {
  @media (min-width: $min-width) {
    display: flex;
  }

  &__header {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1rem 0;
    background: var(--black);
    color: var(--white);
    margin-left: -10px;
    padding-left: 10px;
    margin-bottom: 2rem;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    max-width: 300px;
    text-transform: uppercase;

    @media (min-width: 600px) {
      transform: rotate(180deg);
      writing-mode: vertical-lr;
      text-orientation: mixed;
      justify-content: flex-end;
      text-decoration: none;
      padding-bottom: 0;
      background: var(--white);
      color: var(--black);
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.design__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  max-width: 1000px;
  margin: 0 auto;

  img {
    height: min(100vw, 500px);
    border: 2px solid var(--black);
  }
}

.section__header {
  font-size: 2rem;
  margin-block: 2rem;
  background-color: var(--black);
  color: var(--white);
  width: fit-content;
  border-radius: var(--border-radius-subtle);
  padding: 0.5rem 1rem;
  border: 2px solid var(--white);
  position: relative;
  isolation: isolate;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  &::before {
    content: "";
    position: absolute;
    left: -1rem;
    width: 110vw;
    height: 75%;
    background-color: var(--black);
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
