$black: #333;
$white: #fefefe;
$darkgray: #666;
$lightpurple: #edf;
$purple: #8a3fa2;
$gold: #d1c300;
$error: #dd3232;
$success: #32dd32;

$page-max-width: 90em;
$border-radius-subtle: 5px;
$border-radius-rounded: 500px;
$navbar-height: 70px;

.services {
  display: flex;
  flex-direction: column;
  max-width: 90em;
  margin: 0 auto;
  margin-top: $navbar-height;
}

.header {
  padding: 10px;

  > p {
    max-width: 50ch;
    margin: 3rem auto;
    padding: 1rem 2.25rem;
    line-height: 1.5;
    font-size: clamp(16px, 2vw, 1.25rem);
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 750ms forwards;
    opacity: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 0;
      aspect-ratio: 1;
      animation: growBorder 750ms forwards;
      animation-delay: 250ms;
    }

    &::before {
      top: 0;
      left: 0;
      border-top: 2px solid $purple;
      border-left: 2px solid $purple;
    }

    &::after {
      bottom: 0;
      right: 0;
      border-bottom: 2px solid $purple;
      border-right: 2px solid $purple;
    }
  }
}

.header__group {
  width: fit-content;

  h1 {
    background: $black;
    color: $white;
    text-transform: uppercase;
    padding: 0.5rem 10px;
    padding-right: 4vw;
    font-weight: 400;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: fit-content;
  }

  span {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: right;
    padding: 10px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.service {
  width: 100%;
  padding-block: 2rem;

  &:nth-child(even) {
    background-color: rgba($lightpurple, 0.5);

    .Services__service__content__main {
      flex-direction: row-reverse;

      img {
        border-right: none;
        border-left: 2px solid $white;
      }
    }
  }
}

.service__header {
  font-size: 1.75rem;
  background: $white;
  color: $black;
  font-weight: 400;
  max-width: 70em;
  display: flex;
  justify-content: center;
  border: 2px solid $purple;
  border-bottom: none;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.service__content {
  max-width: 70em;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.service__content__main {
  display: flex;
  align-items: center;
  background-color: $purple;
  outline: 2px solid $white;
  outline-offset: -4px;
  border: 2px solid $purple;

  p {
    padding: 1rem;
    line-height: 1.3;
    max-width: 70ch;
    margin-inline: auto;
    color: $white;

    &:nth-last-child(1) {
      padding-bottom: 2rem;
    }
  }

  img {
    width: 300px;
    aspect-ratio: 1;
    border-right: 2px solid $white;
    display: none;

    @media (min-width: 50em) {
      display: block;
    }
  }
}

.service__content__list {
  padding-inline: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  > span {
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 1rem 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    margin-inline: auto;
  }

  ul li {
    display: flex;
    align-items: center;
    background-color: $purple;
    color: $white;
    padding: 0.5rem 1rem;
    border-radius: 200em;
    flex-grow: 1;
    max-width: 20em;

    &::before {
      content: "•";
      color: $white;
      font-weight: 700;
      width: 1em;
      font-size: 1.25rem;
    }
  }
}

@keyframes growBorder {
  0% {
    height: 0%;
  }
  100% {
    height: 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
