.tidbits {
  margin: 2rem 10px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  color: var(--black);
}

.tidbit {
  border: 2px solid var(--purple);
  margin-top: 2rem;
  border-radius: var(--border-radius-subtle);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 1.25rem;
  background-color: var(--purple);
  color: white;
  padding: 1rem 0.5rem;
  width: 100%;

  span[data-icon] {
    font-size: 2.5rem;
  }
}

.answer {
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;
  transition: all 0.4s ease-out;
  overflow: hidden;
  max-height: 0;
  padding: 1rem;

  &[data-collapsed="true"] {
    padding-block: 0;
  }

  p {
    line-height: 1.6;
  }
}
