// Variables

var(--page-max-width): 90em;
var(--border-radius-subtle): 5px;
$border-radius-rounded: 500px;
var(--navbar-height): 70px;

// Classes
.hidden {
  display: none;
}

.flex {
  display: flex;
}
